@mixin transition($args...)
  -moz-transition: $args
  -webkit-transition: $args
  -o-transition: $args
  transition: $args

@mixin transform($args...)
  -moz-transform: $args
  -webkit-transform: $args
  -o-transform: $args
  transform: $args

@mixin shadow($a, $b, $c, $d, $e)
  -moz-box-shadow: $a $b $c $d $e
  -webkit-box-shadow: $a $b $c $d $e
  -o-box-shadow: $a $b $c $d $e
  box-shadow: $a $b $c $d $e

body .ad-debug-box
  width: 300px
  background-color: #fa0
  border: 1px solid #000
  color: #000
  font-family: sans-serif
  font-size: 12px
  position: absolute
  text-align: left
  top: 0
  cursor: move
  line-height: 20px
  z-index: 999999999
  opacity: 0.95
  @include shadow(0, 0, 7px, 1px, #333)
  @include transition(box-shadow 0.2s)

  .ad-debug-bold
    font-weight: bold

  .ad-debug-section
    margin: 10px

  .large
    font-size: 16px

  ul, li
    margin: 0
    padding: 0
    list-style: square
    float: none
  ul
    padding-left: 16px

body .ad-debug-box.dragging
  @include shadow(0, 0, 14px, 3px, #333)
  @include transform(scale(1.03, 1.03))